@import "src/common/styles/variables/variables";

.title {
    margin-bottom: 30px;
    position: relative;
}

.title::before {
  content: "";
  background: $primaryColor;
  width: 55px;
  height: 1px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.title h2 {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 5px;
    line-height: 1.2;
    color: $textColor;
    text-transform: capitalize;
}