.description {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description span {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}